.DS_Store
.vscode
*.dSYM
*.o
*.a
*.db
*.work
*.tmp
*.test
*.out
*.data
*.profraw
*.profdata
a.out
*.pem
*.key
*.rdb
*.crt
*.cer
*.csr
*.srl
*.sock
test
pogocache-start.sh
pogocache
pogocache-sani
pogocache.wasm
pogocache.wasm.map
pogocache.js
pogocache.html
pogocache2.html
data/

/.idea/.gitignore
/.idea/misc.xml
/.idea/vcs.xml
.idea/editor.xml
.env
