.DS_Store
.idea
.vscode
*.dSYM
*.o
*.a
*.db
*.work
*.tmp
*.test
*.out
*.data
*.profraw
*.profdata
a.out
*.pem
*.key
*.rdb
*.crt
*.cer
*.csr
*.srl
*.sock
test
pogocache-start.sh
pogocache
pogocache-sani
data/
*build*
